@model ICollection<CoachViewModel>

@{
    ViewData["Title"] = "Треньори";
}

@if (User?.IsInRole("Administrator") ?? false)
{
    ViewData["Title"] = "Треньори (Админ)";
    @await Html.PartialAsync(@"~/Views/Shared/_CoachesAdminPartialView.cshtml", Model);
}
else if (Model != null && Model.Count > 0)
{
    <div class="animatedHeader">
        <h2 class="text-center">Треньори</h2>
    </div>
    <section class="sectionCoaches pb-5">
        <div class="container">
            <div class="row d-flex justify-content-center text-white">
                @foreach (var coach in Model)
                {
                    <div class="d-flex justify-content-center mt-5">
                        <img src="@coach.ImageUrl" width="300" height="500"
                             style="object-fit: contain;" />
                    </div>
                    <h1 class="text-center">@coach.FirstName @coach.LastName</h1>
                    <div class="col-12 d-flex justify-content-center">
                        <a asp-controller="Coach" asp-action="Details" asp-route-coachId="@coach.Id" class="btn btn-danger">Научи повече</a>
                    </div>
                }
            </div>
        </div>
    </section>
    @await Html.PartialAsync(@"~/Views/Shared/_FooterBlackToRedPartialView.cshtml")
}
else
{
    ViewData["contentType"] = "Треньори";
    @await Html.PartialAsync(@"~/Views/Shared/_NoContentPartialView.cshtml", ViewData["contentType"]);
}