<footer class="footerSectionBlackToRed text-center text-lg-start text-white">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-top">
        <div class="me-5 d-none d-lg-block">
            <span>Намерете ни в социалните платформи:</span>
        </div>
        <div>
            <a href="https://www.facebook.com/BadmintonClub.RacketSpeed" target="_blank" class="me-4 text-reset">
                <i class="fab fa-facebook"></i>
                Facebook
            </a>
            <a href="https://instagram.com/racketspeed?igshid=MzRlODBiNWFlZA==" target="_blank" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
                Instagram
            </a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Бадминтон Клуб Ракет Спийд
                    </h6>
                    <p>
                        Защо да изберете нас?
                        Предлагаме най-добрите курсове за нашите членове!
                        Бадминтон клуб Ракет Спийд предлага индивидуални тренировки и турнири за любители и деца.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Бързи линкове
                    </h6>
                    <p>
                        <a href="/News/All" class="text-reset">Новини</a>
                    </p>
                    <p>
                        <a href="/Home/AboutUs" class="text-reset">За нас</a>
                    </p>
                    <p>
                        <a href="/Player/All" class="text-reset">Състезатели</a>
                    </p>
                    <p>
                        <a href="/Coach/All" class="text-reset">Треньори</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Контакти</h6>
                    <p class="lead"><i class="fas fa-home me-3"></i><a class="link-light" target="_blank" href="https://www.google.com/maps/place/град София – кв. Гео Милев, ул. 101-ва">град София – кв. Гео Милев, ул 101-ва</a></p>
                    <p class="lead">
                        <i class="fas fa-envelope me-3"></i>
                        racketspeedproject@abv.bg
                    </p>
                    <p class="text-white fs-5">
                        <i class="fa-solid fa-phone me-3"></i>
                        <a class="text-white"
                           href="tel:+359899587456">+359-89-958-7456</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center border-top p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" target="_blank" href="https://github.com/NikolovDaniel">Бадминтон Клуб Ракет Спийд</a>
    </div>
</footer>