<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RacketSpeed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RacketSpeed.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/pnCqhd5/android-chrome-192x192.png" />
    <script src="https://kit.fontawesome.com/97eee30641.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        @{
            if (User?.IsInRole("Administrator") ?? false)
            {
                @await Html.PartialAsync(@"~/Views/Shared/_AdminNavbar.cshtml");
            }
            else if (User?.IsInRole("Employee") ?? false)
            {
                @await Html.PartialAsync(@"~/Views/Shared/_EmployeeUserNavbar.cshtml");
            }
            else if (User?.Identity?.IsAuthenticated ?? false)
            {
                @await Html.PartialAsync(@"~/Views/Shared/_RegularLoggedInUserNavbar.cshtml");
            }
            else
            {
               @await Html.PartialAsync(@"~/Views/Shared/_AnonymousUserNavbar.cshtml");
            }
        }
    </header>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
