@model ICollection<PostViewModel>

<a asp-controller="News" asp-action="Add" style="width:100%;" class="btn btn-lg btn-danger btn-block">Add a Post</a>
<hr />
<h2 class="text-center">Recent Posts</h2>
<div class="row row-cols-auto mt-5">
    @foreach (var post in Model)
    {
        <div class="col-12 mt-2 mb-2">
            <div class="card"  style="background-color: #F5F7FD">
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                </div>
                <div class="card-footer">
                    <a asp-controller="News" asp-action="Details" asp-route-postId="@post.Id" class="btn btn-dark">Details</a>
                    <a asp-controller="News" asp-action="Edit" asp-route-postId="@post.Id" class="btn btn-dark">Edit</a>
                    <a asp-controller="News" asp-action="Delete" asp-route-postId="@post.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
            <hr />
        </div>
    }
</div>
