@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола";
}

<section class="pt-5 pb-5" style="background-color: black;">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-lg-6 offset-lg-3 col-12 text-white">
                <div style="background-color: #BB2D3B;border-radius: 10px;">
                    <h3 class="text-center pt-2">Забравили сте си паролата?</h3>
                    <ul class="pt-4 pb-2 pe-2">
                        <li>
                            <p>Въведете същия емайл, с който се регистрирахте за да получите нов емайл, чрез, който може да смените паролата си!</p>
                        </li>
                        <li>
                            <p>Процеса може да отнеме няколко минути.</p>
                        </li>
                        <li>
                            <p>Aко не намирате емайла си в пощата, проверете спам папката.</p>
                        </li>
                    </ul>
                </div>
                <form method="post">
                    <div class="input-group w-auto">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Емайл адрес" />
                        <button class="btn btn-lg text-white" style="background-color: #BB2D3B;" type="submit" id="button-addon1">
                            Промени Паролата
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync(@"~/Views/Shared/_FooterBlackToRedPartialView.cshtml")

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
