@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<section class="pt-5 pb-5" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-md-4 pt-5 justify-content-center" style="background-color: #BB2C3B; border-radius: 10px;">
                <h4 class="pb-3 mb-5 text-center" style="color: black;">Вход</h4>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-light"></div>
                    <div class="row">
                        <span asp-validation-for="Input.Username" class="text-light"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: black;"><i class="fa-regular fa-user" style="color:#ffa200"></i></span>
                            <input asp-for="Input.Username" class="form-control" aria-describedby="inputGroup-sizing-default" placeholder="Потребителско име">
                        </div>
                        <span asp-validation-for="Input.Password" class="text-light"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: black;"><i class="fa-solid fa-lock" style="color: #ffa200;"></i></span>
                            <input asp-for="Input.Password" type="password" class="form-control" aria-describedby="inputGroup-sizing-default" placeholder="Парола">
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <a class="link-dark" href="/Account/ResendConfirmationEmail">Изпрати нов код за потвърждение!</a>
                        <a class="link-dark" href="/Identity/Account/ForgotPassword">Забравена парола?</a>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                        <button id="login-submit" type="submit" class="btn btn-lg"
                                style="background-color: black; color:#ffa200;">
                            Влез
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6" style="background-color: black;">
                <div class="content text-center">
                    <div class="border-bottom pb-5 mb-5 text-white">
                        <h3>Нямаш акаунт?</h3>
                        <a href="/Identity/Account/Register" class="btn btn-link" style="color:#ffa200;">Регистрирай се</a>
                    </div>
                    <img src="https://i.ibb.co/WkvfrkH/logo-pure-black.jpg"
                         width="200">
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync(@"~/Views/Shared/_FooterBlackToRedPartialView.cshtml")


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
