@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="animatedHeader bg-danger">
    <h2 class="text-center">Регистрация</h2>
</div>
<section class="sectionCoaches">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6 text-center">
                <h3 style="color: #ffa200;">
                    Регистрирай се сега и получи достъп до резервация на корт и други
                    функционалности!
                </h3>
                <div class="card" style="background-color: black;">
                    <div class="card-body">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="mb-3 d-flex justify-content-center">
                                <img class="img-fluid rounded"
                                     src="https://racketspeedbg.com/wp-content/uploads/2019/11/logo-raket-spiyd-page-0-300x160.jpg" alt="racketSpeedLogo" />
                            </div>
                            <div class="mb-3">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.UserName" placeholder="Username" class="form-control"
                                           aria-required="true" id="usernameFloatingInput" />
                                    <label for="usernameFloatingInput" class="form-label-add-edit">
                                        Потребителско
                                        име
                                    </label>
                                    <span asp-validation-for="Input.UserName" class="text-light"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.FirstName" placeholder="FistName" class="form-control"
                                                   aria-required="true" id="firstNameFloatingInput" />
                                            <label for="firstNameFloatingInput" class="form-label-add-edit">
                                                Първо
                                                име
                                            </label>
                                            <span asp-validation-for="Input.FirstName" class="text-light"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.LastName" placeholder="FamilyName" class="form-control"
                                                   aria-required="true" id="familyNameFloatingInput" />
                                            <label for="familyNameFloatingInput"
                                                   class="form-label-add-edit">Фамилия</label>
                                            <span asp-validation-for="Input.LastName" class="text-light"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.PhoneNumber" placeholder="PhoneNumber" class="form-control"
                                           aria-required="true" id="phoneNumberFloatingInput" />
                                    <label for="phoneNumberFloatingInput" class="form-label-add-edit">
                                        Телефонен
                                        номер
                                    </label>
                                    <span asp-validation-for="Input.PhoneNumber" class="text-light"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" placeholder="Email" class="form-control"
                                           aria-required="true" id="emailFloatingInput" />
                                    <label for="emailFloatingInput" class="form-label-add-edit">Емайл</label>
                                    <span asp-validation-for="Input.Email" class="text-light"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" placeholder="Password" autocomplete="new-password" class="form-control"
                                           aria-required="true" id="passwordFloatingInput" type="password" />
                                    <label for="passwordFloatingInput" class="form-label-add-edit">Парола</label>
                                    <span asp-validation-for="Input.Password" class="text-light"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" placeholder="ConfirmPassword" autocomplete="new-password" class="form-control"
                                           aria-required="true" id="confirmPasswordFloatingInput" type="password" />
                                    <label for="confirmPasswordFloatingInput" class="form-label-add-edit">
                                        Потвърди
                                        парола
                                    </label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-light"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input id="registerSubmit" class="btn btn-danger mb-2 w-100 p-3 fs-5" type="submit"
                                       value="Регистрирай се" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync(@"~/Views/Shared/_FooterBlackToRedPartialView.cshtml")

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
