@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Успешна промяна на парола";
}

<section>
    <div class="noContentHeader w-100 min-vh-100 d-flex justify-content-center align-items-center mb-0">
        <div class="row">
            <div class="col-12 mb-2">
                <h1 class="text-center">Променихте паролата си успешно!</h1>
            </div>
            <div class="col-12 mb-5">
                <h1 class="text-center">Вече може да влезете в акаунта си с нея.</h1>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <a class="noContentButton btn w-50 form-control me-2 fs-3 text-center" style="background-color: black;" href="/Identity/Account/Login">Вход</a>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync(@"~/Views/Shared/_FooterRedToBlackPartialView.cshtml")