@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Промени паролата си";
}
<section class="pt-5 pb-5" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-md-4 pt-5 justify-content-center" style="background-color: #BB2C3B; border-radius: 10px;">
                <h4 class="pb-3 mb-5 text-center" style="color: black;">Смяна на парола</h4>
                <form method="post">
                    <input type="hidden" asp-for="Input.Code"/>
                    <div asp-validation-summary="ModelOnly" class="text-light"></div>
                    <div class="row">
                        <span asp-validation-for="Input.Email" class="text-light"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: black;"><i class="fa-regular fa-user" style="color:#ffa200"></i></span>
                            <input asp-for="Input.Email" class="form-control" aria-describedby="inputGroup-sizing-default" placeholder="Емайл адрес">
                        </div>
                        <span asp-validation-for="Input.Password" class="text-light"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: black;"><i class="fa-solid fa-lock" style="color: #ffa200;"></i></span>
                            <input asp-for="Input.Password" type="password" class="form-control" aria-describedby="inputGroup-sizing-default" placeholder="Парола">
                        </div>
                        <span asp-validation-for="Input.Password" class="text-light"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: black;"><i class="fa-solid fa-lock" style="color: #ffa200;"></i></span>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" aria-describedby="inputGroup-sizing-default" placeholder="Потвърди парола">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                        <button id="changePassword-submit" type="submit" class="btn btn-lg"
                                style="background-color: black; color:#ffa200;">
                            Промени парола
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6" style="background-color: black;">
                <div class="content text-center">
                    <div class="border-bottom pb-5 mb-5 text-white">
                        <h3>Вход за системата</h3>
                        <a href="/Identity/Account/Register" class="btn btn-link" style="color:#ffa200;">Влез</a>
                    </div>
                    <img src="https://racketspeedbg.com/wp-content/uploads/2019/11/logo-raket-spiyd-page-0-300x160.jpg"
                         width="200">
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync(@"~/Views/Shared/_FooterBlackToRedPartialView.cshtml")

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
