@model PostViewModel

@{
    ViewData["Title"] = "Post Details";
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-4 text-center">
        <div class="bg-primary">
            <h4>@Model.Title</h4>
        </div>
        <div class="bg-primary">
            <p>@Model.Content</p>
        </div>
    </div>
</div>