@model PostViewModel

@{
    ViewData["Title"] = "Новини";
}

<div class="animatedHeader bg-danger">
    <h2 class="text-center">@Model.Title</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="contentRow row mt-3 shadow-sm" style="width: auto; background-color: #F5F7FD;">
                <div class="col-12">
                    <p class="lead text-dark">@Model.Content</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="imagesRow row mt-3">
                @foreach (var img in Model.ImageUrls)
                {
                    <div class="col-12 mt-2 mb-4">
                        <div class="ratio ratio-4x3">
                            <img class="rounded img-fluid border border-danger" src="@img" alt="Club Image">
                        </div>
                    </div>
                    <hr class="border border-danger border-2 opacity-50">
                }
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync(@"~/Views/Shared/_FooterRedToBlackPartialView.cshtml")
