@{
    ViewData["Title"] = "История";
}

<div class="animatedHeader bg-danger">
    <h1 class="text-center">История</h1>
</div>
<section class="sectionHistory">
    <div class="container text-white">
        <div class="row">
            <div class="history-wrapper">
                <div class="title-wrap text-center one-of-two">
                    <h2 class="h1 mb-0 text-uppercase" style="color: #FFA202">Ракет Спийд</h2>
                    <p class="fs-3 font-weight-500">Бадминтон Клуб</p>
                </div>
                <div class="timeline-box one-of-two">
                    <img class="mb-1-6 rounded" src="https://i.ibb.co/1775XB6/IMG-2684.jpg" alt="..." style="width: 70%;">
                    <div class="content">
                        <h3 class="h4 mb-2 mb-md-3">Основан</h3>
                        <p class="mb-0">
                            Бадминтон клуб Ракет Спийд е създаден през 2018 г. като сдружение с нестопанска
                            цел в град София и е лицензиран клуб към Министерството на младежта и спорта и член на
                            Българска федерация бадминтон. Клуба има и регистриран клон в община Елин Пелин и в община
                            Горна Малина и успешно развива детско-юношеския спорт на територията на 3 общини в Софийска
                            област.
                        </p>
                    </div>
                    <div class="year">2018</div>
                </div>
                <div class="timeline-box one-of-two">
                    <img class="mb-1-6 rounded" src="https://i.ibb.co/rGrdSQN/IMG-2683.jpg" alt="..." style="width: 70%;" alt="...">
                    <div class="content">
                        <h3 class="h4 mb-2 mb-md-3">Развитие в 3 населени места</h3>
                        <p class="mb-0">
                            Развитие на масовия спорт и бадминтона в България и провеждане на тренировки за
                            деца и любители в 3 населени места и общини в Софийска област:
                            град София – спортна зала ”Младост” кв. Гео Милев, ул 101-ва (срещу sky city)
                            град Елин Пелин – спортна зала ”инж. Янко Янков”
                            община Горна Малина – спортен комплекс ”Горна Малина”.
                        </p>
                    </div>
                    <div class="year">2019</div>
                </div>
                <div class="timeline-box one-of-two">
                    <img class="mb-1-6 rounded" src="https://i.ibb.co/fHrCsgw/IMG-2681.jpg" alt="..." style="width: 70%;">
                    <div class="content">
                        <h3 class="h4 mb-2 mb-md-3">Над 100 деца в клуба</h3>
                        <p class="mb-0">
                            Повече от 100 деца са част от клуба, имат организирани тренировки и участия в
                            лагери, клубни и национални състезания;
                            Повече от 20 членове на клуба, на различни възрасти, редовно спортуват бадминтон и се
                            състезават на любителски и ветерански клубни турнири;
                            Повече от 20 състезателя на клуба участват активно в държавния спортен календар, като
                            представят Ракет Спийд на трите най-важни държавни спортни първенства във всички възрастови
                            групи.
                        </p>
                    </div>
                    <div class="year">2021</div>
                </div>
                <div class="timeline-box one-of-two">
                    <img class="mb-1-6 rounded" src="https://i.ibb.co/3y4kw1d/IMG-2682.jpg" alt="..." style="width: 60%;">
                    <div class="content">
                        <h3 class="h4 mb-2 mb-md-3">Подписва с двама професионални състезатели</h3>
                        <p class="mb-0">
                            През 2023 г., Бадминтон клуб Ракет Спийд подписва професионални договори с двама
                            професионални състезателя. Печелят три златни титли от ДЛШ (Държавен Личен Шампионат) и се
                            класират на ВТОРО място на ДОП за Мъже.
                        </p>
                    </div>
                    <div class="year">2023</div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync(@"~/Views/Shared/_FooterBlackToRedPartialView.cshtml")
