@model ICollection<AchievementViewModel>

@if (User?.IsInRole("Administrator") ?? false)
{
    <a role="button">Add new Achievement</a>
}

@if (Model.Count > 0)
{
    foreach (var achievement in Model)
    {
        <div class="row">
            <div class="card">
                <div class="card-title">
                    @achievement.Location @achievement.Date.ToShortDateString()
                </div>
                <div class="card-body">
                    @achievement.Content
                </div>
                @if (User?.IsInRole("Administrator") ?? false)
                {
                    <div class="card-footer">
                        <a role="button">Edit</a>
                        <a role="button">Delete</a>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <p>There are no posts!</p>
}