html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F4F9FF;
    margin-bottom: 60px;
}

/* makes main-menu open on hover */
.menu-item:hover > .dropdown-menu {
    display: block;
}

/*Animated headers*/
.title {
    background-color: #BB2C3B;
}

    .title > h3 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

.adminHeader {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: linear-gradient( to top, #BB2D3B 50%, black 100% );
    width: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div.animatedHeader {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: linear-gradient( to top, #BB2D3B 50%, black 100% );
}

    div.animatedHeader > h1,
    div.animatedHeader > h2 {
        width: 100%;
        animation: left_to_right 3s ease;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.noContentButton {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #000000 0%, #000000 100%);
    padding: 15px 30px;
    border: solid #000000 1px;
    box-shadow: none;
    border-radius: 50px;
    transition: 912ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

/*    .noContentButton:hover {
        transition: 912ms;
        padding: 10px 50px;
        transform: translateY(-0px);
        background: linear-gradient(90deg, #000000 50%, #000000 100%);
        color: #ede6e6;
        border: solid 1px #000000;
    }*/

div.noContentHeader {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: linear-gradient( to top, #BB2D3B 50%, black 100% );
}

    div.noContentHeader > div > div > h1 {
        width: 100%;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');*/

/*.noContentButton {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #cc0000 39%, #080000 100%);
    padding: 10px 30px;
    border: 2px solid #000000;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1462ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

    .noContentButton:hover {
        transition: 1462ms;
        padding: 10px 50px;
        transform: translateY(-0px);
        background: linear-gradient(90deg, #cc0000 39%, #080000 100%);
        color: #ede6e6;
        border: solid 2px #e1e7eb;
    }*/

.titleRow {
    padding: 10px 0px 5px 0px;
    border-radius: 25px;
}

.contentRow {
    white-space: pre-wrap;
    border-radius: 25px;
}

.imagesRow {
    margin: 0px 10px 0px 0px;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
}

/*Coach Pages CSS*/
.sectionCoaches {
    background: linear-gradient( to top, black 95%, #BB2D3B 100% );
}

/*News/All Page CSS*/
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /*    background-color: #F5F7FD;*/
    border-radius: 25px;
    padding: 5px 20px 0px 20px;
}

    .title p {
        font-family: Courier New, Courier, monospace;
    }

.content {
    margin-top: 5px;
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Training/All Pages CSS*/
.trainingSchedule > div {
    /*    animation: left_to_right 3s ease;*/
    height: 100%;
}

/*Index Page CSS*/
table, th, td, tr {
    border: 10px solid black;
}

.clubSection {
    background: linear-gradient( to top, black 85%, #BB2D3B 100% );
}

.eventsSection {
    background: linear-gradient( to top, #BB2D3B 0%, black 30% );
}

.trainingSection {
    padding-top: 100px;
    background: linear-gradient( to top, black 70%, #BB2D3B 100% );
}

.carouselSection {
    padding-top: 100px;
    background: linear-gradient( to top, #BB2D3B 60%, black 100% );
}

.signFormSection {
    background: linear-gradient( to top, #BB2D3B 60%, black 100% );
}
/*No content pages CSS*/
/*.noContentContainer {
    max-width: 800px;
    min-height: 800px;
}*/
/*Animations*/
@keyframes left_to_right {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}

/*Animations Button for Sign Kid*/
.login-box form button {
    background: none;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px black, 0 0 15px black, 0 0 20px black, 0 0 25px black;
}

.login-box button span {
    position: absolute;
    display: block;
}

    .login-box button span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, black);
        animation: btn-anim1 1s linear infinite;
    }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, black);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, black);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, black);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

/*Media queries*/
@media (min-width: 992px) {
    .carousel-item {
        width: 100%;
    }

        .carousel-item img {
            width: 50%;
            height: 500px;
        }
}

@media(max-width:768px) {
    .carousel-item {
        width: 100%;
    }

        .carousel-item img {
            width: 100%;
        }
}
